body{
    margin:0; padding:0;
    font-family: 'Black Han Sans', sans-serif;
}


a {
    text-decoration: none;
    color:white;
}

header{
    width:100%;
}

.navbar{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:18px 12px;
    height:100px;
    background-color:rgb(172, 161, 163);
}

.navbar .nav_logo img{
  width:110px;
}

.nav_menu {
    display:flex;
    list-style:none;
    padding-left:0px;
}

.nav_menu li{
    padding:8px 12px;
    margin-top:10px;
}

a:hover{
   color: #D14E63;
   transition: 0.2s ease-in;
}

.nav_sns i{
  font-size:20px;
  color:white;
  padding:5px 05px;
  margin-top:08px;
}

.navbar_togleBtn{
    display:none;    
}

.slide-container {
    width: 300vw;
    transition: all 1s;
    margin:0; padding:0;
  }

  .slide-box {
    width: 100vw;
    float: left;
    background-size: cover;
    position: relative;
  }

  .slide-box img {
    width: 100%;
  } 

.text {   
  position:absolute;       
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  font-size:5rem;
  z-index: 1;
  font-size:40px
  }

  .left{
    position:absolute;  
    top:50%;
    left:15%;
    transform: translate(-50%, -50%);
    z-index: 1;
    font-size:30px;
  }

  .right{
      position:absolute;  
      top:50%;
      right:15%;
      transform: translate(-50%, -50%);
      z-index: 1;
      font-size: 30px;
  }
  
  .hope{
      color:rgb(230, 116, 116);
  }

  .export{
      color: green;
  }
  
  section {
    display: flex;
    flex-direction: column;
    height:650px;
    background-color: bisque;
  }
  .content{
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    margin-top:50px;
   }
  .flexbox{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    }

    #slide{
    position:relative;
    width:100%;
    height:400px;
    margin-top: 36px;
    margin-left:100px;
    }
    
    #slide > div {
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
    }
    
    #slide img{
        border: 8px solid #fff;
        box-shadow: 0px 0px 30px rgb(0 0 0 / 20%);
        border-radius: 50px;  
    }
   .item{
    min-height: 200px;
    flex-basis: 150px;
    flex-grow: 1;
   }

   .item img{
    width:300px;
    height: 400px;
   }

   .jeonju img{
    width: 400px;
    height:300px;
    margin-top: 20px;
    margin-left:-110px;
}

   
   .flexbox .item{
    flex-basis: auto;
    background-color: #ffe;

}

 .profile {
    color: #585b60;
    font-family: 'Black Han Sans', sans-serif;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 1;
    margin-top: 0px;
    margin-left: -400px;
    padding: 0 10px;
 }
 
 .pro {
     margin-left:250px;
     margin-top:40px;
 }
 .pro ul li{
    color: #444;
    font-size: 20px;
    font-weight: 400;
    margin-left: 150px;
    line-height: 20px;
    letter-spacing: 0px;
    padding: 20px 0;
    width:300px;
 }
 
  @media screen and (max-width:790px) {
    html,body{
        width:100%;
        height:100%;
        margin:0; padding:0;
        font-family: 'Source Sans Pro', sans-serif;
    }
    
    .navbar{
        flex-direction: row;
        position:relative;
    }

    
    .nav_menu{
        visibility: hidden;
        overflow:hidden;
        height:0px;
        transition: all 1s;
        flex-direction: column;
        position:absolute;
        background-color:rgb(247, 240, 240);
        width: 50%;
        top:75%;
        left:35%;
        border-radius: 10px;
        z-index:1;
    }
    
    .nav_menu li{
        display: none;
    }
    .nav_menu li a{
        color:black;
        padding: 0px 05px;
        z-index:1;
    }
    .nav_menu.show li{
        display: flex;
        color:black;
    }
     
    
    .navbar_togleBtn{
      display: block;
      position:absolute;
      top:30%;
      left:51%;
      font-size:20px;
    }

    .nav_sns i{
        font-size:20px;
        color:white;
        padding:5px 05px;
        margin-top:05px;
      }
      .slide-container {
        width: 300vw;
        transition: all 1s;
        margin:0; padding:0;
      }
      .slide-box img {
        width: 150%;
    }

      .show{
        visibility: visible;
        width:175px;
        height:155px;
      }
      .left{
    position:absolute;  
    top:50%;
    left:15%;
    transform: translate(-50%, -50%);
    z-index: 1;
    font-size:30px;
  }

  .right{
      position:absolute;  
      top:50%;
      right:15%;
      transform: translate(-50%, -50%);
      z-index: 1;
      font-size: 30px;
  }

  .text {   
    position:absolute;       
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    font-size:5rem;
    z-index: 1;
    font-size:15px
    }
    
    section{
        width:100%;
        height:1000px;
    }
    .profile {
        color: #585b60;
        font-family: "Montserrat", sans-serif;
        font-size: 40px;
        font-weight: 700;
        letter-spacing: 1px;
        line-height: 1;
        margin-top: 0px;
        margin-left: -180px;
        padding: 0 10px;
     }
    
    #slide{
        margin-left:00px;
    }
    
    .content{
        display:flex;
        flex-direction: column;
    }

    .pro {
        margin-left:-150px;
        margin-top:40px;
    }

    #slide img{
        border: 8px solid #fff;
        box-shadow: 0px 0px 30px rgb(0 0 0 / 20%);
        border-radius: 50px;  
        margin-left: -20px;
    }

    .jeonju img{
        width: 380px;
        height:280px;
    }
    }