body{
    margin:0;
    font-family: 'Source Sans Pro', sans-serif;
}

a {
    text-decoration: none;
    color:white;
}
header{
    width:100%;
    height:100px;
    background-color:rgb(172, 161, 163);
}

.navbar{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:18px 12px;
}

.navbar .nav_logo img{
  width:110px;
}

.nav_menu {
    display:flex;
    list-style:none;
    padding-left:0px;
}

.nav_menu li{
    padding:8px 12px;
    margin-top:10px;
}

a:hover{
   color: #D14E63;
   transition: 0.2s ease-in;
}

.nav_sns i{
  font-size:20px;
  color:white;
  padding:5px 05px;
  margin-top:08px;
}

.navbar_togleBtn{
    display:none;    
}

.slide-container {
    width: 300vw;
    margin:10px auto;
    transition: all 1s;
  }
  .slide-box {
    width: 100vw;
    float: left;
    background-size: cover;
    position: relative;
  }

  .slide-box img {
    width: 100%;
  } 

.text {   
  position:absolute;       
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  font-size:5rem;
  z-index: 1;
  font-size:40px
  }

  .left{
    position:absolute;  
    top:50%;
    left:15%;
    transform: translate(-50%, -50%);
    z-index: 1;
    font-size:30px;
  }

  .right{
      position:absolute;  
      top:50%;
      right:15%;
      transform: translate(-50%, -50%);
      z-index: 1;
      font-size: 30px;
  }
  
  .hope{
      color:rgb(230, 116, 116);
  }

  .export{
      color: green;
  }
  
@media screen and (max-width:768px) {
    .navbar{
        flex-direction: row;
        position:relative;
    }

    header{
        height:80px;
    }
    
    .nav_menu{
        visibility: hidden;
        overflow:hidden;
        height:0px;
        transition: all 1s;
        flex-direction: column;
        position:absolute;
        background-color:rgb(247, 240, 240);
        width: 50%;
        top:75%;
        left:35%;
        border-radius: 10px;
        z-index:1;
    }
    
    .nav_menu li{
        display: none;
    }
    .nav_menu li a{
        color:black;
        padding: 0px 05px;
        z-index:1;
    }
    .nav_menu.show li{
        display: flex;
        color:black;
    }
     
    
    .navbar_togleBtn{
      display: block;
      position:absolute;
      top:30%;
      left:51%;
      font-size:20px;
    }

    .nav_sns i{
        font-size:20px;
        color:white;
        padding:5px 05px;
        margin-top:05px;
      }
      
      .slide-box img {
        width: 150%;
    }

      .show{
        visibility: visible;
        width:175px;
        height:155px;
      }
      .left{
    position:absolute;  
    top:50%;
    left:15%;
    transform: translate(-50%, -50%);
    z-index: 1;
    font-size:30px;
  }

  .right{
      position:absolute;  
      top:50%;
      right:15%;
      transform: translate(-50%, -50%);
      z-index: 1;
      font-size: 30px;
  }

  .text {   
    position:absolute;       
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    font-size:5rem;
    z-index: 1;
    font-size:15px
    }
    }